{% extends 'base.html' %}
{% block title %}Delete{% endblock %}
{% block content %}
    <div class="content-section">
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Post</legend>
                <h3>Are you sure you want to delete the post &nbsp" <b>{{ object.title }}"</b>&nbsp?</h3>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
                <a class="btn btn-outline-info" href="{{ object.get_absolute_url }}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock %}