{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block title %}PostDetails{% endblock %}
{% block content %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ post.author.image.url }}" alt="">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'user_post' post.author.username %}">{{ post.author }}</a>
                <small class="text-muted">{{ post.date_posted|date:'F d, Y' }}</small>
                {% if post.author == user %}
                    <div>
                        <a class="btn btn-secondary btn-sm mt-1" href="{% url 'post_update' post.slug %}">Update</a>
                        <a class="btn btn-danger btn-sm mt-1" href="{% url 'post_delete' post.slug %}">Delete</a>
                    </div>
                {% endif %}
            </div>
            <h2 class="article-title">{{ post.title }}</h2>
            <p class="article-content">{{ post.content|safe }}</p>
        </div>
    </article>

    <article class="content-section">
        <h2>Similar Posts</h2><br>
        {% for post in similar_posts %}
            <p><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></p>
        {% empty %}
            There is no similar posts
        {% endfor %}
    </article>

    {% for comment in post.comments.all %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{% url 'user_post' comment.author.username %}">{{ comment.author }}</a>
                    <small class="text-muted">{{ comment.date_posted|date:'F d, Y' }}</small>
                </div>
                <p class="article-content">{{ comment.text|safe }}</p>
            </div>
        </article>
    {% endfor %}

    {% if user.is_authenticated %}
        <article class="media content-section">
            <div class="media-body">
                <form method="post">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Add Comment</legend>
                        {{ form.media }}
                        {{ form.text|as_crispy_field }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">Post</button>
                    </div>
                </form>
            </div>
        </article>
    {% endif %}

{% endblock %}



