{% load static %}
{% load blog_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'blogs/main.css' %}">

    <title>Django Blog - {% block title %}{% endblock %}</title>

</head>
<body>
<div class="container">
    <header class="site_header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
                <a class="navbar-brand mr-4" href="{% url 'blogs-home' %}">Django Blog</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="{% url 'blogs-home' %}">Home</a>
                        <a class="nav-item nav-link" href="{% url 'blogs-about' %}">About</a>
                    </div>
                    <!-- NavBar Right Side -->
                    <div class="navbar-nav">
                        {% if user.is_authenticated %}
                            <a class="nav-item nav-link" href="{% url 'post_create' %}">New Post</a>
                            <a class="nav-item nav-link" href="{% url 'profile' user.pk %}">Profile</a>
                            <a class="nav-item nav-link" href="{% url 'logout' %}">LogOut</a>
                        {% else %}
                            <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                            <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                {% block content %}{% endblock %}
            </div>
            <div class="col-md-4">
                <div class="content-section">
                    <h3 style="color: powderblue">There are
                        <span style="color: blue">{% count_of_posts %}</span>
                        posts in the WebSite</h3>
                    <h3><a style="color: green" href="{% url 'django.contrib.sitemaps.views.sitemap' %}">See my
                        sitemap</a></h3>
                    <h4><a style="color: #62a60a" href="{% url 'post_feed' %}">Subscribe to my RSS feed</a></h4>
                    <h3 style="color: orangered">Latest Posts</h3>
                    <p class="text-muted">You can see Ten latest posts from Here</p>

                    {% if request.path|str_slicing:'1 11' == 'user_posts' %}
                        {% latest_user_posts request.path as latest_user_posts %}
                        <ul class="list-group">
                            {% for post_side in latest_user_posts %}
                                <li class="list-group-item list-group-item-light"><a
                                        href="{{ post_side.get_absolute_url }}">{{ post_side.title }}</a></li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        {% latest_posts as latest_posts %}
                        <ul class="list-group">
                            {% for post_side in latest_posts %}
                                <li class="list-group-item list-group-item-light"><a
                                        href="{{ post_side.get_absolute_url }}">{{ post_side.title }}</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    <h3 style="color: orangered">Most Commented Posts</h3>
                    <p class="text-muted">You can see Five most commented posts from Here</p>
                    {% most_commented_posts as most_commented_posts %}
                    <ul class="list-group">
                        {% for post_side in most_commented_posts %}
                            <li class="list-group-item list-group-item-light"><a
                                    href="{{ post_side.get_absolute_url }}">{{ post_side.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </main>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>