{% extends 'base.html' %}
{% block title %}Profile{% endblock %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <div class="content-section">
        <div class="media">
            {% if customuser.image.url %}
                <img class="rounded-circle account-img" src="{{ customuser.image.url }}" alt="">
            {% else %}
                <img class="rounded-circle account-img" src="{% static 'img/default.png' %}" alt="">
            {% endif %}
            <div class="media-body">
                <h2 class="account-heading">{{ customuser.username }}</h2>
                <p class="text-secondary">{{ customuser.email }}</p>
            </div>
        </div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile Info</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>
    </div>
{% endblock %}