{% extends 'main.html' %}
{% block title %}Register{% endblock %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
            <div >
                OR LogIn :
                <a href="{% url 'social:begin' 'google-oauth2' %}">LogIn With Google</a>&nbsp;&nbsp;
                <a href="{% url 'social:begin' 'github' %}">LogIn With GitHub</a>&nbsp;&nbsp;
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account?<a class="ml-2" href="{% url 'login' %}">Sign In</a>
            </small>
        </div>
    </div>
{% endblock %}